/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #1b46c2;
$light: #2b2b2b;

$headings-font-weight: 300 !important;
$a: #1392ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/reboot';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  background-color: #2b2b2b;
  color: #c0a055;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  min-width: 65vw;
  max-width: 1200px;
}

#root {
  display: flex;
  justify-content: center;
  width: 65vw;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #c0a055;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-header {
  font-size: 2rem;
  text-decoration: none;
  color: #c0a055;

  img {
    width: 9.5rem;
  }
}

a:hover {
  text-decoration: none;
  color: #c0a055;
}

.siteDapp {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 1rem;

  .activePage {
    background-color: #c0a055;
    color: #2b2b2b;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.15rem;
    text-decoration: none;
    color: #c0a055;
    border: 2px solid #c0a055;
    border-radius: 15px;

    &:first-child {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &:hover a {
    background-color: #2b2b2b;
    color: #c0a055;
  }

  a:hover {
    background-color: #c0a055;
    color: #2b2b2b;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discord {
  margin: 0 1rem !important;
}

nav a {
  text-decoration: none;
  color: #c0a055;
  font-weight: 500;
  font-size: 1.15rem;
}

.btn-connect {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1.15rem;
  border: 2px solid #c0a055;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #c0a055;
    color: #2b2b2b;
  }

  &:hover .extension-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  &:hover .web-wallet-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  &:hover .test-class_name_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  &:hover .wallect-connect-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3 {
    color: #2b2b2b !important;
  }

  .extension-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  .web-wallet-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  .test-class_name_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3,
  .wallect-connect-login_wrapper.btn.btn-primary.px-sm-4.m-1.mx-sm-3 {
    background-color: transparent;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    box-shadow: none !important;
    margin: 0 0.5rem !important;
    color: #c0a055 !important;
  }
}

.social {
  &:hover {
    color: #e7d19e;
  }
}

.twitter {
  margin: 0 1rem 0 0 !important;
}

.container-anchor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  overflow: hidden;
  margin-top: 1rem;

  .anchor {
    a {
      margin: 0.75rem 1.5rem;
      text-decoration: none;
      color: #c0a055;

      &:hover {
        color: #e7d19e;
      }
    }
  }
}

/* Menu anchor */
.container-menu {
  position: fixed;
  top: 8rem;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #252525;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateX(85%);
  transition: transform 0.3s ease-out;
  z-index: 99;
  border: 2px solid #c0a055;
  border-right: none;

  .container-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    cursor: pointer;

    div {
      margin: 0.5rem 0;
      opacity: 0;
    }

    .arrow {
      border-right: 2px solid #c0a055;
      border-bottom: 2px solid #c0a055;
      border-radius: 2px;
      width: 1rem;
      height: 1rem;
      transform: rotate(135deg);
      transition: transform 0.3s ease-out;
      opacity: 1;
    }
    &:hover .arrow {
      border-right: 2px solid #e7d19e;
      border-bottom: 2px solid #e7d19e;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    a {
      color: #c0a055;
      text-decoration: none;
      margin: 0.5rem 1.5rem;

      &:hover {
        text-decoration: none;
        color: #e7d19e;
      }
    }
  }
}

.activeMenu {
  transform: translateX(0);

  .arrow {
    transform: rotate(-45deg) !important;
  }
}

/* Banner Section */

.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
}

.slider {
  width: 70%;
  max-width: 700px;
  overflow: hidden;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border: 3px solid #ebc775;
  border-radius: 20px;
}

.slider figure {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 45s slidy infinite;
}

.slider figure img {
  width: 20%;
  height: auto;
  float: left;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  5.55% {
    left: 0%;
  }
  11.1% {
    left: -100%;
  }
  16.65% {
    left: -100%;
  }
  22.2% {
    left: -200%;
  }
  27.75% {
    left: -200%;
  }
  33.3% {
    left: -300%;
  }
  38.85% {
    left: -300%;
  }
  44.4% {
    left: -400%;
  }
  49.95% {
    left: -400%;
  }
  55.5% {
    left: -500%;
  }
  61.05% {
    left: -500%;
  }
  66.6% {
    left: -600%;
  }
  72.15% {
    left: -600%;
  }
  77.7% {
    left: -700%;
  }
  83.25% {
    left: -700%;
  }
  88.8% {
    left: -800%;
  }
  94.35% {
    left: -800%;
  }
  100% {
    left: -900%;
  }
}

.presentation {
  padding: 5rem 0;
  border-bottom: 1px solid #c0a055;
}

.presentation p {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
}

/* About */

.part-about {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;
}

.part-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #c0a055;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 2rem 0;
  background-color: #252525;
}

/* Roadmap */

.part-roadmap {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;

  .part-item {
    border: 2px solid #c0a055;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem 0;
    background-color: #252525;
  }
}

.item-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.item-description {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}

.item-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-weight: 600;
}

.item-date div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #c0a055;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}

.item-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #2b2b2b;
  background-color: #c0a055;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}

.item-content {
  margin-left: 1rem;
}

/* Videos */

.part-videos {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;

  .container-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    video {
      width: 41%;
      margin: 2rem;
      border: 3px solid #c0a055;
      border-radius: 15px;
    }
  }
}

/* FAQ */

.part-faq {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;

  .part-item-faq {
    padding: 0.75rem 0;
  }

  .item-title-faq {
    margin: 1.3rem 0;
    text-align: center;
    color: #c0a055;
    background-color: #252525;
    border: 2px solid #c0a055;
    border-radius: 15px;
    cursor: pointer;
  }

  .item-description-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    overflow: hidden;

    span {
      transform: translateY(-150%);
      transition: all 0.3s ease-out;
      opacity: 0;

      strong {
        font-weight: 700;
      }

      em {
        text-decoration: underline;
      }
    }
  }

  .activeFaq span {
    opacity: 1 !important;
    transform: translateY(0);
  }
}

.part-team {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;
}

/* Team */

.part-team {
  font-weight: 300;
  font-size: 1.3rem;
  border-bottom: 1px solid #c0a055;
  padding: 1.5rem 0;

  .container-profils {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .item-profil {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 41%;
      margin: 2rem;
      border: 3px solid #c0a055;
      border-radius: 15px;
      background-color: #252525;

      span {
        white-space: nowrap;
        margin: 0.75rem 0;
      }

      .pp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 180%;
        }
      }
    }
  }
}

/* Footer */

footer {
  text-align: center;
  margin: 0.3rem 0;
}

@media screen and (max-width: 1300px) {
  .logo-header {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  #root {
    width: 80vw;
  }

  header {
    flex-direction: column;

    .siteDapp {
      margin: 0 0 1rem 0;
    }

    nav {
      flex-direction: column;
    }

    .discord {
      margin: 1rem 0 !important;
    }
    .twitter {
      margin: 0 !important;
    }
  }

  video {
    width: 80% !important;
    margin: 1rem !important;
  }

  .item-profil {
    width: 90% !important;

    .pp {
      width: 25vw !important;
      height: 25vw !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .dapp-core-ui-component {
    .btn.btn-primary.px-sm-4.m-1.mx-sm-3 {
      span {
        font-size: 0.85rem !important;
        font-weight: 500 !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  .dapp-core-ui-component:first-child {
    display: none;
  }

  .dapp-core-ui-component .dapp-core-ui-component {
    display: flex;
  }
}

/* Dashboard */

.container-mint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
